---
# vars file for local Server

HOST: localhost
FUSION_API_PORT: 8764
SOLR_PORT: 8983
FUSION_API_USER: admin
FUSION_API_PASSWORD: password123

BEDBATH_COLLECTION_NUM_SHARDS: 1
BEDBATH_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_EVERLIVING_COLLECTION_NUM_SHARDS: 1
BEDBATH_EVERLIVING_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SIGNALS_COLLECTION_NUM_SHARDS: 2
BEDBATH_SIGNALS_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_RULES_COLLECTION_NUM_SHARDS: 1
BEDBATH_RULES_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_TYPEAHEAD_COLLECTION_NUM_SHARDS: 1
BEDBATH_TYPEAHEAD_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_TYPEAHEAD_EXPERIMENT1_COLLECTION_NUM_SHARDS: 1
BEDBATH_TYPEAHEAD_EXPERIMENT1_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_PRODUCT_ATTRIBUTES_COLLECTION_NUM_SHARDS: 1
BEDBATH_PRODUCT_ATTRIBUTES_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_REGISTRY_NAME_COLLECTION_NUM_SHARDS: 1
BEDBATH_REGISTRY_NAME_COLLECTION_REPLICATION_FACTOR: 1
SKU_COLLECTION_NUM_SHARDS: 2
SKU_COLLECTION_REPLICATION_FACTOR: 1
IC_COLLECTION_NUM_SHARDS: 1
IC_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_PRODUCT_REVIEWS_COLLECTION_NUM_SHARDS: 1
BEDBATH_PRODUCT_REVIEWS_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_QAF_COLLECTION_NUM_SHARDS: 1
BEDBATH_QAF_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_CATEGORY_AGGR_COLLECTION_NUM_SHARDS: 1
BEDBATH_CATEGORY_AGGR_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SEARCH_AGGR_COLLECTION_NUM_SHARDS: 1
BEDBATH_SEARCH_AGGR_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_CATEGORY_AGGR_TRIM_COLLECTION_NUM_SHARDS: 2
BEDBATH_CATEGORY_AGGR_TRIM_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SEARCH_AGGR_TRIM_COLLECTION_NUM_SHARDS: 2
BEDBATH_SEARCH_AGGR_TRIM_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_RULES_FEEDBACK_COLLECTION_NUM_SHARDS: 1
BEDBATH_RULES_FEEDBACK_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_LTR_BOOSTED_PRODUCTS_COLLECTION_NUM_SHARDS: 1
BEDBATH_LTR_BOOSTED_PRODUCTS_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_PRODUCT_CATEGORIES_COLLECTION_NUM_SHARDS: 1
BEDBATH_PRODUCT_CATEGORIES_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_RELATED_SEARCHES_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_RELATED_SEARCHES_COLLECTION_NUM_SHARDS: 1
BEDBATH_SIGNAL_SUMMARY_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SIGNAL_SUMMARY_COLLECTION_NUM_SHARDS: 2
BEDBATH_IDEABOARD_COUNT_SUMMARY_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_IDEABOARD_COUNT_SUMMARY_COLLECTION_NUM_SHARDS: 2
BEDBATH_PRODUCT_BUNDLE_COLLECTION_NUM_SHARDS: 1
BEDBATH_PRODUCT_BUNDLE_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_IDEABOARD_COLLECTION_NUM_SHARDS: 1
BEDBATH_IDEABOARD_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_PRODUCT_RECOMMENDATIONS_REPLICATION_FACTOR: 1
BEDBATH_PRODUCT_RECOMMENDATIONS_NUM_SHARDS: 1
LONGTAIL_TOPIC_PRODUCTS_COLLECTION_REPLICATION_FACTOR: 1
LONGTAIL_TOPIC_PRODUCTS_COLLECTION_NUM_SHARDS: 1
SKU_TO_WAREHOUSE_COLLECTION_NUM_SHARDS: 1
SKU_TO_WAREHOUSE_COLLECTION_REPLICATION_FACTOR: 1
SKU_TO_ZIPCODE_COLLECTION_NUM_SHARDS: 1
SKU_TO_ZIPCODE_COLLECTION_REPLICATION_FACTOR: 1
WAREHOUSE_TO_ZIPCODE_COLLECTION_NUM_SHARDS: 1
WAREHOUSE_TO_ZIPCODE_COLLECTION_REPLICATION_FACTOR: 1
CMS_CONFIG_COLLECTION_NUM_SHARDS: 1
CMS_CONFIG_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SEARCH_CDP_AGGR_TRIM_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_SEARCH_CDP_AGGR_TRIM_COLLECTION_NUM_SHARDS: 2
BEDBATH_SEARCH_CDP_AGGR_COLLECTION_NUM_SHARDS: 1
BEDBATH_SEARCH_CDP_AGGR_COLLECTION_REPLICATION_FACTOR: 1
SIGNALS_BASED_RELATED_SEARCHES_COLLECTION_NUM_SHARDS: 1
SIGNALS_BASED_RELATED_SEARCHES_COLLECTION_REPLICATION_FACTOR: 1
BEDBATH_TEMP_COLLECTION_NUM_SHARDS: 1
BEDBATH_TEMP_COLLECTION_REPLICATION_FACTOR: 1
PRODUCT_COLLECTION: bedbath
BEDBATH_EVERLIVING_COLLECTION: bedbath_everliving
SKU_COLLECTION: sku
IC_COLLECTION: Interactive_Checklist_Categories
BEDBATH_TYPEAHEAD_COLLECTION: bedbath_typeahead
BEDBATH_TYPEAHEAD_EXPERIMENT1_COLLECTION: bedbath_typeahead_experiment1
BEDBATH_PRODUCT_CATEGORIES_COLLECTION: bedbath_product_categories
BEDBATH_REGISTRY_NAME_COLLECTION: bedbath_registry_name
BEDBATH_REGISTRY_NAME_LOWER_COLLECTION: bedbath_registry_name-lower
BEDBATH_REGISTRY_NAME_MIRROR1_COLLECTION: bedbath_registry_name-mirror1
BEDBATH_REGISTRY_NAME_MIRROR2_COLLECTION: bedbath_registry_name-mirror2
BEDBATH_TEMP_COLLECTION: bedbath_temp

SKU_APP_NAME: sku
BEDBATH_TYPEAHEAD_APP_NAME: bedbath_typeahead
BEDBATH_REGISTRY_NAME_APP_NAME: bedbath_registry_name
BEDBATH_APP_NAME: bedbath
BEDBATH_SIGNAL_SUMMARY_COLLECTION: bedbath-signal-summary
BEDBATH_PRODUCT_RECOMMENDATIONS: bedbath-product-recommendation
BEDBATH_PRODUCT_BUNDLE_COLLECTION: bedbath_product_bundle
BEDBATH_IDEABOARD_COLLECTION: bedbath-ideaboard
BEDBATH_IDEABOARD_COUNT_SUMMARY_COLLECTION: bedbath-ideaboard-count-summary
SEARCH_TERMS_PERF_REPORT_COLLECTION: search_terms_perf_report
SEARCH_TERMS_PERF_REPORT_NUM_SHARDS: 1
SEARCH_TERMS_PERF_REPORT_REPLICATION_FACTOR: 1

FUSION_SPARK_WORKER_CORES: 3
FUSION_SPARK_EXECUTOR_MEMORY_FRACTION: 1
FUSION_SPARK_CORES_FRACTION: 1
SPARK_EXECUTOR_HEARTBEATINTERVAL: 60s
SPARK_DRIVER_MEMORY: 4g
FUSION_SPARK_WORKER_MEMORY: 6g
SPARK_SCHEDULER_ALLOCATION_FILE: /u01/fusion/4.2.1/apps/spark-dist/conf/fairscheduler.xml

#For synonyms import task
SRC_FUSION_API_HOST: 192.168.3.57
SRC_FUSION_API_SECURED_PORT: 8764
SRC_FUSION_CREDENTIALS: YWRtaW46QmVkQmF0aDAx
TMP_DIR: /tmp
TARGET_COLLECTIONS_FOR_SYNONYMS:
  - sku
  - bedbath
